@charset "utf-8";

/* CSS reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

/* 링크 스타일 */

a {
  text-decoration: none;
}
span,
p,
li,
a {
  color: #181818;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.plan {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #ededed;
}
.plan_title {
  font-size: 16px;
  font-weight: bold;
}
.plan_menu {
  font-size: 12px;
  top: 30%;
  position: absolute;
  right: 5px;
  color: #888888;
}

/* 숨김 콘텐츠 */

.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 본문 스타일 */

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* 모바일 버전 */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  /* 헤더 메뉴영역 */
  .header a {
    display: inline-block;
  }
  .header_menu {
    width: 100%;
    height: 60px;
  }
  .icon_menu_bar {
    margin-top: 8px;
    float: left;
    width: 15%;
    text-align: center;
  }
  .icon-menu {
    color: #ededed;
    font-size: 30px;
  }
  .logo {
    width: 43%;
    float: left;
  }
  .logo a {
    font-size: 20px;
    color: #4444e2;
  }
  .icon_more {
    text-align: right;
    width: 42%;
    margin-top: 13px;
    float: right;
  }
  .icon_btn {
    font-size: 20px;
    float: left;
  }
  /* 네비영역 */
  .navigation {
    height: 50px;
  }
  .menu {
    position: relative;
    width: 100%;
  }
  .menu_more {
    text-align: center;
    height: 20px;
    border-bottom: 2px solid #ededed;
  }
  .menu_list {
    width: 25%;
    font-size: 15px;
    color: #111111;
    float: left;
  }
  .menu_item:hover {
    border-bottom: 2px solid #4444e2;
    color: #4444e2;
  }
  .sub_menu {
    display: none;
    list-style-type: disc;
  }
  .sub_menu li a {
    color: #181818;
  }
  .sub_menu_home {
    width: 100%;
    text-align: center;
  }
  .sub_menu_phone {
    text-align: center;
    width: 19.8%;
  }
  .sub_menu_shop {
    width: 20.1%;
  }
  .sub_menu li {
    /* background-color: #fff; */
    float: left;
  }

  .sub_menu li a:hover {
    color: #181818;
  }

  .sub_menu_calender {
    width: 20%;
  }
  .sub_menu_calender.odd {
    width: 60%;
    float: right;
  }

  .sub_menu li.sub_menu_calender {
    /* background-color: #fff; */
    border: 0;
  }
  .calender_menu span {
    font-weight: bold;
  }
  .sub_menu a {
    text-align: center;
    color: white;
  }
  .active.sub_menu {
    width: 100%;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: block;
    margin-top: 10px;
  }
  /* 메인 영역 */
  .main {
    background-color: #fff;
    margin-top: 12px;
  }
  .calculate {
    float: left;
    width: 100%;
  }
  .calulate_title {
    float: left;
    width: 40%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-bottom: 1px solid #ededed;
    font-weight: bold;
  }

  .caluate_price {
    float: right;
    text-align: right;
    width: 60%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    font-weight: bold;
    color: #4444e2;
  }

  .calculate_phone {
    position: relative;
  }
  .icon-angle-down {
    position: absolute;
  }
  .calculate_Check_history{
    display: none;
  }
  .active.calculate_Check_history{
    display: block;
  }

  .cch_Opening_date {
    float: left;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
  }
  .cch_date {
    font-weight: 400;
    margin-left: 10px;
    color: #888888;
  }
  .cch_customer {
    float: right;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
  }
  .cch_name {
    font-weight: 400;
    margin-left: 9px;
    color: #888888;
  }
  .cch_menu {
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    float: left;
  }
  .cch_img {
    float: left;
    width: 40%;
    height: 128px;
  }
  .cch_img img {
    width: 100%;
    height: 100%;
  }
  .cch_title {
    width: 60%;
    float: right;
    line-height: 1.7;
    box-sizing: border-box;
    padding: 13px;
    border-bottom: 1px solid #ededed;
  }
  .cch_price {
   
    padding: 10px 10px;
    float: right;
  }
  .cch_price_name{
    color: #4444e2;
    font-weight: bold;
  }
  .cch_price_name span{
    margin-left: 7px;
    color: #4444e2;
    font-weight: 400;
  }
  .cch_title_agency {
    font-size: 11px;
    display: block;
  }
  .cch_title_phone {
    font-size: 13px;
    font-weight: bold;
  }
  .cch_type {
    font-size: 12px;
    display: block;
    font-weight: bold;
  }
  .cch_type span {
    margin-left: 6px;
    font-weight: 400;
  }
}
