@charset "utf-8";

/* CSS reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

/* 링크 스타일 */

a {
  text-decoration: none;
}
span,
p,
li,
a {
  color: #181818;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.plan {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #ededed;
}
.plan_title {
  font-size: 16px;
  font-weight: bold;
}
.plan_menu {
  font-size: 12px;
  top: 30%;
  position: absolute;
  right: 5px;
  color: #888888;
}

/* 숨김 콘텐츠 */

.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 본문 스타일 */

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* 모바일 버전 */
@media screen and (max-width: 768px) {
  .container {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  /* 헤더 메뉴영역 */
  .header a {
    display: inline-block;
  }
  .header_menu {
    width: 100%;
    height: 60px;
  }
  .icon_menu_bar {
    margin-top: 8px;
    float: left;
    width: 15%;
    text-align: center;
  }
  .icon-menu {
    color: #ededed;
    font-size: 30px;
  }
  .logo {
    width: 43%;
    float: left;
  }
  .logo a {
    font-size: 20px;
    color: #4444e2;
  }
  .icon_more {
    text-align: right;
    width: 42%;
    margin-top: 13px;
    float: right;
  }
  .icon_btn {
    font-size: 20px;
    float: left;
  }
  /* 네비영역 */
  .navigation {
    width: 100%;
    height: 74px;
  }
  .menu {
    position: relative;
    width: 100%;
  }
  .menu_more {
    width: 100%;
    text-align: center;
    height: 20px;
    border-bottom: 2px solid #ededed;
  }
  .menu_list {
    width: 25%;
    font-size: 15px;
    color: #111111;
    float: left;
  }
  .menu_item:hover {
    border-bottom: 2px solid #4444e2;
    color: #4444e2;
  }
  .sub_menu_bar{
    width: 100%;
  }
  .sub_menu {
    display: none;
    list-style-type: disc;
  }
  .sub_menu li a {
    color: #181818;
  }
  .sub_menu_home {
    width: 100%;
    text-align: center;
  }
  .sub_menu_phone {
    width: 19%;
    text-align: center;
    float: left;
    background-color: #fff;
  }
  .sub_menu_agency {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 6px;
  }

  .sub_menu_phone_agency {
    float: left;
    width: 33%;
    font-weight: bold;
  }
  .sub_menu_shop {
    float: left;
    width: 33.1%;
  }
  .sub_menu_phone a:hover {
    color: #fff;
  }

  .sub_menu_phone:hover {
    border: 1px solid #4444e2;
    background-color: #4444e2;
    color: #fff;
  }

  .sub_menu_phone_agency a:hover {
    border-bottom: 0.5px solid;
    color: #111111;
  }
  .sub_menu_calender {
    width: 33.1%;
  }
  .sub_menu li.calender {
    background-color: #fff;
    border: 0;
  }
  .sub_menu a {
    text-align: center;
    color: white;
  }
  .active.sub_menu {
    width: 100%;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: block;
    margin-top: 10px;
  }
  /* 메인 영역 */
  .main {
    background-color: #ededed;
  }

  /*메인 캐러셀 영역 */
  /* 스와이프 캐러셀 영역 */
  .swiper1 {
    width: 100%;
    height: 180px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination-fraction {
    font-size: 12px;
    color: #fff;
    background-color: #464343;
    opacity: 0.5;
    border: 0.5px solid #464343;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
    width: 56px;
  }
  .swiper-pagination-fraction span {
    color: #fff;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /* 공지사항 영역 */
  /* notice 영역 */
  .notice {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
  }
  .notice a{
    display: inline-block;
  }
  .notice_box_title {
    padding: 0px 15px;
    background-color: #fff;
    height: 35px;
  }
  .notice_box_name {
    font-size: 14px;
    position: absolute;
    top: 8px;
    font-weight: bold;
  }
  .notice_box_viewall {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 12px;
  }
  .notice_box_contents {
    padding: 0px 15px;
    border-top: 0.5px solid #8e8e8e;
    background-color: #fff;
    height: 35px;
    font-size: 12px;
    text-overflow: ellipsis;
  }
  .notice_box_contents p {
    color: #555555;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 20px;
  }

  /* 서브베너 영역 */
  .sub_banner {
    width: 100%;
    height: 100%;
  }
  .sub_banner img {
    width: 100%;
  }
  /* 통신상품 캐러셀 영역 */
  /*메인 캐러셀 영역 */
  .phone_best {
    background-color: #fff;
  }
  .phone_best_menu {
    padding: 25px 30px;
  }
  .phone_best_top {
    display: inline-block;
    font-weight: bold;
  }
  .phone_best_right {
    font-size: 13px;
    float: right;
  }
  /* best top phone 캐러셀 */
  /* BEST10 2번째 스와이프 캐러셀 */
  .swiper2 {
    width: 100%;
    height: 280px;
  }
  .swiper2-slide {
    border: 0.5px solid #8e8e8e;
    height: 250px;
    overflow: hidden;
  }
  .phone_carusel_num {
    font-size: 14px;
    font-weight: bold;
    top: 10px;
    left: 15px;
    position: absolute;
    z-index: 10;
  }
  .phone_img {
    left: 0;
    top: 1px;
    position: absolute;
    width: 100%;
    height: 155px;
  }
  .swiper2 img {
    width: 99%;
    height: 100%;
  }
  .phone_carusel_menu {
    padding: 10px 17px;
    bottom: 17px;
    left: 0;
    width: 79%;
    position: absolute;
  }
  .phone_carusel_agency {
    text-align: left;
    font-size: 11px;
  }
  .phone_carusel_title {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .phone_carusel_price {
    font-size: 16px;
    text-align: right;
    display: inherit;
    font-weight: bold;
  }
  /* 인기 저가폰 영역 */
  /* swiper3 영역 */
  /* BEST10 2번째 스와이프 캐러셀 */
  .swiper3 {
    padding-top: 25px;
    background-color: #fff;
    width: 100%;
    height: 280px;
  }
  .swiper3-slide {
    border: 0.5px solid #8e8e8e;
    height: 250px;
    overflow: hidden;
  }
  .low_cost_phone_img {
    left: 0;
    top: 1px;
    position: absolute;
    width: 100%;
    height: 155px;
  }
  .swiper3 img {
    width: 99%;
    height: 100%;
  }
  .low_cost_phone_menu {
    padding: 0px 13px;
    bottom: 0;
    left: 0;
    width: 79%;
    height: 90px;
    position: absolute;
  }
  .low_cost_phone_agency {
    text-align: left;
    font-size: 11px;
  }
  .low_cost_phone_title {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    width: 100%;
    height: 32px;
  }
  .low_cost_phone_price {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }
  .low_cost_phone_month {
    font-weight: 100;
    font-size: 11px;
  }
  .low_cost_phone_view_products {
    text-align: right;
    font-size: 10px;
    display: block;
    margin-top: 6px;
  }

  /* 히트폰 영역 */
  /* 히트폰 메인 상품영역 */

  .hit_phone_card {
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
  }

  /*히트폰 hit상품 아이콘  */
  .hit_phone_hit_product {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to left, #1565ff, #ca6aff);
    top: 8%;
    left: 2%;
  }
  .hit_phone_hit_product span {
    color: #fff;
    display: block;
    margin-top: 38%;
    font-size: 15px;
  }
  /* 히트폰 메인 하트 아이콘 */
  .hit_phone_icon_heart {
    position: absolute;
    right: 15px;
    top: 24px;
  }
  .icon-heart-empty {
    color: #aeaeae;
  }
  /* 히트폰 메인 카드 이미지 */
  .hit_phone_card img {
    width: 100%;
    height: 177px;
  }
  /* 히트폰메인 상품 타이틀 및 가격 */
  .hit_phone_menu {
    float: left;
    margin-top: -3px;

    padding: 0px 0px 0px 20px;
  }
  .hit_phone_title {
    color: #888888;
    font-size: 14px;
    line-height: 2;
  }
  .hit_phone_sale {
    font-weight: bold;
    font-size: 16px;
    color: #ff2247;
  }
  .hit_phone_price {
    font-weight: bold;
  }
  .hit_phone_original_price {
    color: #aeaeae;
    text-decoration: line-through;
    font-size: 12px;
  }
  /* 히트폰 메인 상품 통신사및 월가격 */
  .hit_phone_news_agency_menu {
    float: right;
    padding-right: 20px;
    line-height: 1.8;
  }
  .hit_phone_news_agency {
    text-align: right;
    color: #888888;
    font-size: 12px;
  }
  .hit_phone_monthly {
    font-size: 14px;
  }
  .hit_phone_monthly_price {
    font-weight: bold;
  }
  .hit_phone_monthly_won {
    font-size: 14px;
  }
}
