@charset "utf-8";

/* CSS reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

/* 링크 스타일 */

a {
  text-decoration: none;
}
span,
p,
li,
a {
  color: #181818;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* 모바일 버전 */
@media screen and (max-width: 768px) {
  .container {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  /* 헤더영역 */
  .header {
    width: 100%;
    height: 50px;
    background-color: #4444e2;
  }
  .home_img {
    width: 15%;
    float: left;
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .home_img img {
    width: 25px;
  }
  .logo {
    float: left;
    text-align: center;
    width: 85%;
    color: #fff;
    font-size: 19px;
    height: 100%;
    box-sizing: border-box;
    /* padding-top: 12px; */
    padding: 12px 35px 0 0;
    /* padding-left: 17px; */
  }
  .My_Offer_Box {
    float: right;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    height: 100%;
  }
  .My_Offer_Box span {
    padding: 3px 3px;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
  }

  /* 메인 영역 */
  .main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
  }
  .My_Coupons {
    box-sizing: border-box;
  }
  /* 사용가능 쿠폰 몇장인지 확인 */
  .Available_coupons {
    padding: 10px 25px;
    border-bottom: 0.5px solid #8e8e8e;
  }
  .Available_coupons p {
    font-size: 15px;
    font-weight: bold;
    color: #111;
  }
  .Available_coupons span {
    margin-left: 5px;
    color: #ff2247;
  }
  /* 마이 쿠폰 상품 */
  .My_coupons_card_more {
    padding: 0px 25px 0px 25px;
  }
  .My_coupons_product {
    width: 100%;
    float: left;
    position: relative;
    border-top: 0.5px solid #ccc;
    padding-top: 30px;
    margin-top: 30px;
    box-sizing: border-box;
  }
  .My_coupons_product:first-child {
    padding-top: 0;
    border-top: 0;
  }

  .coupon_card {
    position: relative;
    width: 45%;
    float: left;
  }
  .My_coupon_box_left {
    float: left;
    background-color: #4444e2;
    border: 0.5px solid #4444e2;
    border-radius: 10px 0px 0px 10px;
    height: 67px;
    width: 15px;
  }
  .My_coupon_box_center {
    position: relative;
    float: left;
    height: 66px;
    width: 80px;
    border: 1px solid #ccc;
  }
  .My_coupon_box_center p {
    padding: 7px 10px 0px 10px;
    font-size: 19px;
    font-weight: bold;
  }
  .My_coupon_box_center span {
    font-size: 10px;
    padding: 0px 10px 0px 10px;
    color: #4444ed;
  }
  .one {
    left: 94px;
    top: 1px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .two {
    left: 94px;
    top: 8px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .three {
    left: 94px;
    top: 16px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .four {
    left: 94px;
    top: 25px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .five {
    left: 94px;
    top: 35px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .six {
    left: 94px;
    top: 45px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .seven {
    left: 94px;
    top: 54px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  .eight {
    left: 94px;
    top: 62px;
    background-color: #fff;
    position: absolute;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 5px;
    height: 4px;
  }
  .My_coupon_box_right {
    float: left;
    background-color: #4444e2;
    border: 0.5px solid #4444e2;
    border-radius: 0px 10px 10px 0px;
    height: 67px;
    width: 20px;
  }
  .My_coupon_box_menu {
    line-height: 1.2;
    width: 55%;
    float: left;
  }
  .My_coupon_box_title {
    display: inline-block;
    font-size: 11px;
    color: #111111;
  }
  .My_coupon_box_Purchase {
    display: inline-block;
    font-size: 10px;
    color: #777777;
  }
  .My_coupon_box_term {
    display: block;
    font-size: 10px;
    color: #777777;
  }
  /* 푸터 유의사항영역 */

  .My_coupons_footer {
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    margin-top: 15px;
  }
  .Notice {
    background-color: #fff;
    padding: 10px 25px;
  }
  .Notice p {
    position: relative;
    font-size: 15px;
    font-weight: bold;
  }
  .icon-angle-down {
    position: absolute;
    right: 0;
    top: 0;
  }
  .icon-angle-up {
    display: none;
    position: absolute;
    right: 0;
  }

  .Notice_Contents p {
    padding: 10px 25px 2px 25px;
    color: #111;
    font-size: 14px;
  }
  .Notice_Contents span {
    display: inline-block;
    padding: 0px 25px;
    color: #777777;
    font-size: 12px;
  }
  .Notice_Contents {
    display: none;
  }
  .active.Notice_Contents {
    display: block;
  }
  .c.icon-angle-up {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .icon-angle-down {
    display: block;
  }
  .c.icon-angle-down {
    display: none;
  }
}
