@charset "utf-8";

/* CSS reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

/* 링크 스타일 */

a {
  text-decoration: none;
}
span,
p,
li,
a {
  color: #181818;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.plan {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #ededed;
}
.plan_title {
  font-size: 16px;
  font-weight: bold;
}
.plan_menu {
  font-size: 12px;
  top: 30%;
  position: absolute;
  right: 5px;
  color: #888888;
}

/* 숨김 콘텐츠 */

.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 본문 스타일 */

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* 모바일 버전 */
@media screen and (max-width: 480px) {
 .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  /* 헤더 메뉴영역 */
  .header_menu {
    width: 100%;
    height: 60px;
  }
  .icon-menu {
    margin-top: 8px;
    font-size: 30px;
    width: 15%;
    float: left;
    color: #ededed;
    text-align: center;
  }
  .logo {
    width: 43%;
    float: left;
  }
  .logo a {
    font-size: 20px;
    color: #4444e2;
  }
  .icon_more {
    width: 35%;
    margin-top: 13px;
    margin-left: 20px;
    float: right;
  }
  .icon_btn {
    font-size: 20px;
    width: 35px;
    float: left;
  }
  /* 네비영역 */
  .navigation {
    height: 50px;
  }
  .menu {
    position: relative;
    width: 100%;
  }
  .menu_more {
    text-align: center;
    height: 20px;
    border-bottom: 2px solid #ededed;
  }
  .menu_list {
    width: 25%;
    font-size: 15px;
    color: #111111;
    float: left;
  }
  .menu_item:hover {
    border-bottom: 2px solid #4444e2;
    color: #4444e2;
  }
  .sub_menu {
    display: none;
    list-style-type: disc;
  }
  .sub_menu li a {
    color: #181818;
  }
  .sub_menu_home {
    width: 100%;
    text-align: center;
  }
  .sub_menu_phone {
    text-align: center;
    width: 19.8%;
  }
  .sub_menu_shop {
    width: 33.1%;
  }
  .sub_menu li {
    background-color: #fff;
    float: left;
  }

  .sub_menu li:hover {
    border: 1px solid #4444e2;
    background-color: #4444e2;
  }
  .sub_menu li a:hover {
    color: #fff;
  }

  .sub_menu_calender {
    width: 33.1%;
  }

  .sub_menu li.sub_menu_calender {
    background-color: #fff;
    border: 0;
  }
  .sub_menu a {
    text-align: center;
    color: white;
  }
  .active.sub_menu {
    width: 100%;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: block;
    margin-top: 10px;
  }
  /* 메인 영역 */
  .main {
    background-color: #ededed;
    margin-top: 12px;
  }

  /*메인 캐러셀 영역 */
  /* 스와이프 캐러셀 영역 */
  .swiper-container {
    width: 100%;
    height: 190px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination-fraction {
    font-size: 12px;
    color: #fff;
    background-color: #464343;
    opacity: 0.5;
    border: 0.5px solid #464343;
    right: 0; 
    bottom: 0;
    text-align: center;
    display: block;
    width: 56px;
  }
  .swiper-pagination-fraction span {
    color: #fff;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* 기획전 상품영역 */
  .plan {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #ededed;
  }
  .plan_title {
    font-size: 16px;
    font-weight: bold;
  }
  .plan_menu {
    font-size: 12px;
    top: 30%;
    position: absolute;
    right: 5px;
    color: #888888;
  }

  /* 메인 상품영역 */
  .planned_product_card {
    margin-bottom: 10px;
  }
  .planned_product_card:first-child {
    margin-top: 0;
  }
  .planned_product_card img {
    width: 100%;
    height: 177px;
  }
  .planned_product_menu {
    margin-top: -3px;
    background-color: #fff;
    padding: 0px 0px 0px 20px;
  }
  .planned_product_title {
    color: #181818;
  }
  .planned_product_contents {
    font-size: 12px;
  }
  .planned_product_go {
    float: right;
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
    margin-top: 4px;
  }
  /* 추천상품영역 */
  .recommendation {
    margin-top: -10px;
  }
  .recommendation_card_more {
    padding: 10px 10px;
    float: left;
  }
  .recommendation_card {
    border: 1px solid #ededed;
    float: left;
    width: 42.6%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 225px;
  }
  .recommendation_card img {
    max-width: 100%;
    height: 125px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .recommendation_menu {
    margin: 10px;
  }
  .recommendation_title {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11px;
  }
}
